#first {
	color: black;
    border-color: black;
    }

.content {
	position: absolute;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: black;
}

.load {
	display:block;
	text-align: center;
    line-height: 70px;
    margin-left: 12px;
    width: 300px;
    height: 100px;
    border-width: 1px;
    border-color: #007a6d;
    background-color: white;
}

.info {
	display: block;
	text-align: center;
    line-height: 70px;
    margin-left: 12px;
    margin-top: 50px;
    width: 550px;
    height: 150px;
    background-color: white;
}


.spinning-square {
    width: 60px;
    height: 60px;
    background-color: #333;

    margin: 0 auto;
    -webkit-animation: rotatesquare 2.2s infinite ease-in-out;
    animation: rotatesquare 2.2s infinite ease-in-out;
}

@-webkit-keyframes rotatesquare {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotatesquare {
  0% { transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); }
}